/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  border: 2px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 60%;
  height: 80vh;
}

/* ############################### */
#win-img,
#lose-img {
  font-size: 24px;
  color: blue;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 10px;
}

.hidden {
  display: none !important;
}
/* ############################### */

.content {
  /* border: 1px solid orangered; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: fit-content;
  max-width: 48%;
  padding: 5px;
}

.guess-word {
  display: flex;
  gap: 10px;
  font-size: 50px;
  flex-wrap: wrap;
}

.btns {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  width: 95%;
}

button {
  height: 2em; /* 30px; */
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 3px;
}

.btns button {
  width: 30px;
  background-color: #0ea989;
}

#new-game {
  width: 20%; /* 30px; */
  height: 2.3em; /* 30px; */
  background-color: #3ba128;
  margin: 20px;
}

button:hover {
  opacity: 0.8;
}

.clue {
  font-size: 18px;
}

@media (max-width: 650px) {
  main {
    flex-direction: column;
    padding: 10px;
  }
}

/* Estilo da página AUTH */
#body-auth {
  background-color: gray;
}
#password-prompt {
  border: 1px solid orangered;
  background-color: #2c2c2c;
  width: 40%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em;
  gap: 10%;
}
#h2-auth {
  display: flex;
  font-family: monospace;
  width: fit-content;
  align-items: center;

  font-size: 24px;
  color: antiquewhite;
}
.hidden {
  display: none;
}

.error {
  color: red;
}

p {
  color: white;
  font-size: 18px;
}

#password-input {
  width: 60%;
  height: 20%;
  font-size: 1.3em;
  border: none;
  border-radius: 5px;
}

#btn-auth {
  width: 60%;
  height: 20%;

  color: white;
  background-color: rgb(220, 111, 9);
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 10px;
  text-decoration: none;
  box-shadow: 5px 5px 10px 3px rgb(63, 62, 62);
}
